

<% if (!@current_measures.blank?) %>
	<table class="table">
	  <tr> <th align="center" colspan="4"> Installed Measures </th> </tr>
	  <tr>
	    <th>Type</th>
	    <th>Comment</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @current_measures.each do |propertymeasure| %>
	  <tr>
	    <td><%= InstalledMeasureType.find(propertymeasure.installed_measure_type_id).installed_measures %></td>
	    <td><%= propertymeasure.comment %></td>
	    <td><%= link_to 'Destroy', propertymeasure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<p> No current measures associated with this property. </p>
<%end %>