<% if (@property.present?) %>
<h3><%= @property.street_address %></h3>
<p>Electricity Readings</p>
<table border="1">
<tr>
<th>January</th>
<th>February</th>
<th>March</th>
<th>April</th>
<th>May</th>
<th>June</th>
<th>July</th>
<th>August</th>
<th>September</th>
<th>October</th>
<th>November</th>
<th>December</th>
</tr>
<tr>
<td bgcolor="11F215">13</td>
<td bgcolor="F24E4E"></td>
<td bgcolor="11F215">22</td>
<td bgcolor="11F215">18</td>
<td bgcolor="11F215">32</td>
<td bgcolor="11F215">50</td>
<td bgcolor="11F215">45</td>
<td bgcolor="11F215">40</td>
<td bgcolor="11F215">18</td>
<td bgcolor="F24E4E"></td>
<td bgcolor="11F215">13</td>
<td bgcolor="11F215">13</td>
</tr>
<tr>
<th>January</th>
<th>February</th>
<th>March</th>
<th>April</th>
<th>May</th>
<th>June</th>
<th>July</th>
<th>August</th>
<th>September</th>
<th>October</th>
<th>November</th>
<th>December</th>
</tr>
<tr>
<td bgcolor="11F215">13</td>
<td bgcolor="11F215">25</td>
<td bgcolor="11F215">22</td>
<td bgcolor="11F215">18</td>
<td bgcolor="F24E4E"></td>
<td bgcolor="11F215">50</td>
<td bgcolor="11F215">45</td>
<td bgcolor="11F215">40</td>
<td bgcolor="F24E4E"></td>
<td bgcolor="11F215">16</td>
<td bgcolor="11F215">13</td>
<td bgcolor="11F215">13</td>
</tr>
</table>
<p>Gas Readings</p>
<table border="1">
<tr>
<th>January</th>
<th>February</th>
<th>March</th>
<th>April</th>
<th>May</th>
<th>June</th>
<th>July</th>
<th>August</th>
<th>September</th>
<th>October</th>
<th>November</th>
<th>December</th>
</tr>
<tr>
<td bgcolor="11F215">13</td>
<td bgcolor="F24E4E"></td>
<td bgcolor="11F215">22</td>
<td bgcolor="11F215">18</td>
<td bgcolor="11F215">24</td>
<td bgcolor="11F215">50</td>
<td bgcolor="11F215">45</td>
<td bgcolor="11F215">40</td>
<td bgcolor="11F215">36</td>
<td bgcolor="11F215">16</td>
<td bgcolor="11F215">13</td>
<td bgcolor="F24E4E"></td>
</tr>
<tr>
<th>January</th>
<th>February</th>
<th>March</th>
<th>April</th>
<th>May</th>
<th>June</th>
<th>July</th>
<th>August</th>
<th>September</th>
<th>October</th>
<th>November</th>
<th>December</th>
</tr>
<tr>
<td bgcolor="11F215">13</td>
<td bgcolor="11F215">25</td>
<td bgcolor="F24E4E"></td>
<td bgcolor="11F215">18</td>
<td bgcolor="11F215">40</td>
<td bgcolor="11F215">50</td>
<td bgcolor="11F215">45</td>
<td bgcolor="11F215">40</td>
<td bgcolor="11F215">28</td>
<td bgcolor="11F215">16</td>
<td bgcolor="F24E4E"></td>
<td bgcolor="11F215">13</td>
</tr>
</table>
<% end %>
