<h1>Ready to Analyze Customers</h1>

<table border="1">
  <tr>
    <th>Owner Name</th>
    <th>Meter Readings</th>
    <th>Ready to Analyze</th>
  </tr>

<% @records_array.each do |record| %>
  <tr>
    <td><%= link_to record[0], 'gaps?owner=' + record[0] %></td>
    <td><%= record[1] %></td>
    <td><%= record[2] %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', dashboard_index_path %>
