<div class="container theme-showcase">

	<h1>Installed Measures</h1>

	<table>
	  <tr>
	    <th><h4>Installed measures:</h4></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @installed_measure_types.each do |installed_measure_type| %>
	  <tr>
	    <td><%= installed_measure_type.installed_measures %></td>
	    <td><%= link_to 'Edit  ', edit_installed_measure_type_path(installed_measure_type) %></td>
	    <td><%= link_to 'Destroy  ', installed_measure_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>

	<br />
	<%= link_to 'Add New Installed Measure', new_installed_measure_type_path, class: 'btn btn-default' %>

</div>
