<!--View to create a new installed measure  -->
<h1>New Installed Measure Type</h1>
<%= render 'form' %>
<%= link_to 'Cancel', installed_measure_types_path, class: "btn btn-primary btn-sm", style: "color: #ffffff" %>
