<%= render "layouts/navigation" %>

<div class="container">
	<%= link_to 'Back', recordings_path, class:  "btn btn-primary btn-large" %>
	<h1>New recording</h1>
</div>
<hr class="featurette-divider">
<div class="container">
	<%= render 'form' %>
</div>


