<%= render "layouts/navigation" %>
<div class="container">
	<h1>Graphs</h1>
</div>
<hr class="featurette-divider">
<div class="container">
<p><%= image_tag(@line_chart) %></p>
<p><%= image_tag(@bar_chart) %></p>
</div>

