<%= render "layouts/navigation" %>
<div class="container">
<%= link_to 'Back', properties_path, class:  "btn btn-primary btn-large" %>
<hr class="featurette-divider">
<h1>New Property</h1>

<%= render 'form' %>


</div>
