<h1>Welcome to LEAP Data Management and Visualization</h1>

<%= link_to "List of all Properties", properties_path %></br>
<%= link_to "List of all Recordings (Meter Readings)", recordings_path %></br>
<%= link_to "Dashboard (Upload/Query)", dashboard_index_path %></br>
<%# link_to "Graphs", graphs_path %></br>
