<div class="container marketing" > 

<h1>LEAP Data Management and Visualization System</h1>
<body>
<%= link_to "List of all Properties", properties_path %></br>
<%= link_to "List of all Recordings (Meter Readings)", recordings_path %></br>
<%= link_to "Dashboard (Upload/Query)", dashboard_index_path %></br>
<%= link_to "Graphs", graphs_path %></br>
<body>
</div>
