<h1>Welcome to LEAP Data Management and Visualization</h1>

<%= link_to "Properties CRUD Prototype", properties_path %>
<%-# link_to "Recordings CRUD Prototype", recordings_path -%>
<%= link_to "Dashboard (Upload/Query)", dashboard_index_path %>
