<h1>Welcome to LEAP Data Management and Visualization</h1>

<%= link_to "Properties CRUD Prototype", properties_path %> </p>
<%= link_to "Power Recordings CRUD Prototype", power_recordings_path %></p>
<%= link_to "Gas_Recordings CRUD Prototype", gas_recordings_path %></p>
